<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2024 Fusion Lab G.P
 * @package FusionLab_BestPrice
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FusionLab_BestPrice" setup_version="0.1.0" >
        <sequence>
            <module name="FusionLab_Core" />
        </sequence>
    </module>
</config>
