<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025 Fusion Lab G.P
 * Website: https://fusionlab.gr
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fusionlab_bestprice" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Best Price]]></label>
            <tab>fusionlab</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="analytics_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>360 Analytics Id</label>
                    <comment>Your 360 Best Price Analytics Id. BP-XXXXX</comment>
                    <validate>required-entry</validate>
                    <backend_model>FusionLab\BestPrice\Model\Adminhtml\Backend\AnalyticsIdValidator</backend_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_identifier" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Product Identifier</label>
                    <comment>Will be used in product XML export as the unique product identifier. Will also be used in the frontend to send events.</comment>
                    <source_model>FusionLab\BestPrice\Model\Source\Config\ProductIdentifier</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="xml" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>XML Export Settings</label>
                <field id="xml_files" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Xml Files</label>
                    <frontend_model>FusionLab\BestPrice\Block\Adminhtml\XmlInfo</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Export?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="batch_size" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Collection Batch Size</label>
                    <comment>Adjust this number according to your server capabilities.</comment>
                    <validate>required-entry validate-number</validate>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="store_view" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Store View</label>
                    <validate>required-entry</validate>
                    <comment>Xml will be exported for each Store View you select in the list. Xml will be on [store_url]/fusionlab_feeds/[website][storeview]_bestprice.xml</comment>
                    <source_model>Magento\Store\Model\System\Store</source_model>
                </field>
                <field id="cron_expression" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Expression</label>
                    <validate>required-entry</validate>
                    <backend_model>FusionLab\BestPrice\Model\Adminhtml\Backend\CronExpressionValidator</backend_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <group id="mapping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes Mapping</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <!-- Availability -->
                    <field id="availability_from_product" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Get Availability via Product Attribute?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="availability_product_attribute" translate="label" type="select" sortOrder="20" showInDefault="40" showInWebsite="1" showInStore="1">
                        <label>Availability Attribute</label>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductTextAttributes</source_model>
                        <depends>
                            <field id="availability_from_product">1</field>
                        </depends>
                    </field>
                    <field id="fixed_availability" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Product Availability Text</label>
                        <depends>
                            <field id="availability_from_product">0</field>
                        </depends>
                    </field>
                    <!-- Brand -->
                    <field id="brand_from_product" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Get Brand via Product Attribute?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="brand_product_attribute" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Brand Attribute</label>
                        <validate>required-entry</validate>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductSelectAndTextAttributes</source_model>
                        <depends>
                            <field id="brand_from_product">1</field>
                        </depends>
                    </field>
                    <field id="fixed_brand" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Product Brand Text</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="brand_from_product">0</field>
                        </depends>
                    </field>
                    <!-- MPN -->
                    <field id="mpn_product_attribute" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>MPN Attribute</label>
                        <validate>required-entry</validate>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductSelectAndTextAttributes</source_model>
                    </field>
                    <!-- Size -->
                    <field id="size_product_attribute" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Size Attribute</label>
                        <validate>required-entry</validate>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductSelectAndTextAttributes</source_model>
                    </field>
                    <!-- Color -->
                    <field id="color_product_attribute" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Color Attribute</label>
                        <validate>required-entry</validate>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductSelectAndTextAttributes</source_model>
                    </field>
                </group>
                <group id="filters" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Filters</label>
                    <field id="exclude_categories" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Categories to exclude</label>
                        <comment>Select from which categories you do not want products to appear in the XML</comment>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\CategoriesSource</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="include_out_of_stock" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Include Out of Stock?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="include_with_attribute" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Include with Flag?</label>
                        <comment>Only include products that have a Yes/No attribute to Yes</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="flag_attribute" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Flag Attribute</label>
                        <validate>required-entry</validate>
                        <source_model>FusionLab\BestPrice\Model\Source\Config\ProductSelectAttributes</source_model>
                        <depends>
                            <field id="include_with_attribute">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
